<div th:fragment="header">
    <!--Шапка часть - начало-->

        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Главная</a></li>
                    <li><a href="/shop/catalog" class="nav-link px-2 text-white">Товары</a></li>
                    <li><a href="/shop/catalog/add" class="nav-link px-2 text-white">Добавить товар</a></li>
                    <li><a href="/main/about" class="nav-link px-2 text-white">О нас</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Корзина</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Search">
                </form>

                <form th:action="/logout" method="post">
                    <input type="submit" value="Выйти"/>
                </form>

                <div class="text-end">
                    <button onclick="location.href='/account/login'" type="button" class="btn btn-outline-light me-2">Авторизация</button>
                    <button onclick="location.href='/account/registration'" type="button" class="btn btn-warning">Регистрация</button>
                </div>
            </div>
        </div>


        <div class="container mt-5">
            <h1>Магазин компьютерных комплектующих</h1>
        </div>

    <!--Шапка часть - конец-->
</div>